:root {
  --bg0: #f9f5d7;
  --bg1: #f5edca;
  --bg5: #ebdbb2;
  --bg-dim: #f3eac7;
  --bg-hover: #ebdbb2;
  --grey0: #a89984;
  --accent-clr: #45707a;
  --accent-bg: #f3eac7;
  --text: #4f3829;
  --text-alt: #654735;
  --green-bg: #e4edc8;
}
