@import url("colors.css");


a
{
  text-decoration: none;
}


h1
{
  margin-bottom: 1em;
}

.listCard
{
  h2
  {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 0.3em;
  }

  .miniExTitle
  {
    color: var(--col-text);
  }

  .miniExDesc
  {
    color: var(--col-text-dim);
    margin-bottom: 0.3em;
  }

  .miniExId
  {
    font-size: 0.7em;
  }
}


.miniExList
{
  list-style: none;
}

.miniExSolutions
{
  list-style: inside;

  li
  {
    margin-bottom: 5px;
    
    :hover
    {
      color: var(--col-text-dim);
    }

  }
  
  a 
  {
    font-weight: bold;
    text-decoration: none;
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
    color: var(--col-link);
  }
}

ul.miniExList > li
{
  margin-bottom: 10px;
}

