@import url("colors.css");

main {
  padding: 30px;
}


main p {
  color: var(--text-alt);
  margin-top: 5px;
  margin-bottom: 15px;
}


main .box {
  margin-bottom: 20px;
  padding: 1em;
}


main h2, main p{
  margin-top: 1em;
}


table {
  border-collapse: collapse;
  margin: 25px 0px;
  padding: 2em;
  border: 0px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}

table th{
  font-style: bold;
  font-size: 1.25em;
  color: var(--text);
  text-align: left;
}

table th {
  background: var(--green-bg);
}

table td {
  color: var(--text-alt);
}

table th, table td {
  padding: 12px 15px;
}

table tr {
  width: 100%;
  border-bottom: 1px solid var(--bg5);
}

table tr:nth-of-type(even) {
  background: var(--bg1);
}

table tr:last-of-type {
  border-bottom: 5px solid var(--accent-clr);
}
