.inputContainer
{
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5em;
}


.nameFields, .addressFields
{
  display: flex;
  flex-direction: row;
  gap: 10px;
  
  input, select
  {
    max-width: 250px;
  }
}

form
{
  margin-top: 3em;
  display: flex;
  flex-direction: column;

  > div
  {
    margin-bottom: 0.5em;
  }

  .confirmSection
  {
    margin-top: 1em;
  }

}

@media screen and (max-width: 650px)
{
  .nameFields, .addressFields
  {
    flex-direction: column;
  }
}
