@import url("colors.css");


.sidebar {
  box-sizing: border-box;
  height: 100vh;
  width: 230px;
  padding: 5px 1em;
  background: var(--bg-dim);
  border-right: 1px solid var(--grey0);
  position: sticky;
  top: 0;
  align-self: start;
}


.sidebar svg {
  fill: var(--text);
  height: 30px;
  width: 30px;
  font-style: bold;
}



.sidebar a, .sidebar.logo {
  border-radius: 0.5em;
  font-weight: 500;
  padding: 0.85em;
  text-decoration: none;
  color: var(--text);
  display: flex;
  align-items: center;
  gap: 1em;
}


.sidebar a:hover {
  background: var(--bg0);
}

.sidebar-title > a:hover {
  background: var(--bg-dim);
}


.sidebar a.active {
  color: var(--accent-clr);
}


.sidebar a.active > svg {
  fill: var(--accent-clr);
}


.sidebar ul {
  list-style: none;
}

.sidebar ul .sidebar-title span {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 2em;
}


