@import url("colors.css");

.contentArea h1
{
  margin-bottom: 0px;
}


.solContent
{
  margin-top: 2em;
}


.date
{
  color: var(--col-text-dim);
  font-style: italic;
}


.textContent
{
  text-align: justify;
  color: var(--col-text-dim);
}


.codeList
{
  display: flex;
  flex-direction: column;

  li
  {
    padding-left: 10px;
  }
}

.scroller
{
  background: var(--col-background-highlight);
  width: max(0, 100%-1em);
  padding-left: 45px;
  overflow-y: auto;
  border-radius: 5px;
}

.solHeader
{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 1em;
}


.preContent
{
  /*font-family: "Noto Sans", sans-serif;*/
}


@media screen and (max-width: 460px)
{
  .scroller
  {
    margin: 0;
    padding: 0px;
  }

  .codeList
  {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}
