@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import url("colors.css");


*{
  padding: 0px;
  margin: 0px;
}


.contentArea > h1
{
  margin-bottom: 0.7em;
}


.contentArea > p
{
  margin-bottom: 1.1em;
  text-align: justify;
  color: var(--col-text-dim);
}


.card
{
  background: var(--col-background-card);
  border-radius: 10px;
  box-shadow: 1.5px 3.0px 3.0px hsl(0deg 0% 0% / 0.1);
  padding: 2em 2.5em;
  border: 1px solid var(--col-border-dark);
}


.shadow
{
  box-shadow: 1.5px 3.0px 3.0px hsl(0deg 0% 0% / 0.1);
}


.tag
{
  background: var(--col-selected);
  color: var(--col-text);
  padding: 3px 10px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  font-weight: bold;
}


.btn
{
  display: flex;
  border: 1px solid var(--col-border-dark);
  justify-content: center;
  align-items: center;
  box-shadow: 1.5px 3.0px 3.0px hsl(0deg 0% 0% / 0.1);
  border: none;
  border-radius: 5px;
  background: var(--col-selected-alt);
  color: var(--col-text);
  font-weight: bold;
  font-size: 0.9em;
  cursor: pointer;
  padding: 9px 18px;
}

.btn:hover
{
  background: var(--col-selected);
}


body
{
  transition: color 300ms ease-out;

  font-size: 12pt;
  font-family: "Noto Sans", sans-serif;
  color: var(--col-text);

  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr;
  background: var(--col-background-dark);
}


svg
{
  fill: var(--col-text);
}


nav
{
  background: var(--col-background-dark);
  grid-row: 1/2;
  padding: 2em 1em;
  position: sticky;
  top: 0;
  align-self: start;

  .themeToggle
  {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    margin-bottom: 0.5em;
    padding: 0.5em;
    border-radius: 10px;
    background: var(--col-background-card);
    
    .btn
    {
      padding: 8px;
      background: var(--col-selected)
    }

  }

  .themeToggle:hover
  {
    cursor: pointer;

    .btn
    {
      background: var(--col-background-highlight)
    }
  }

  a 
  {
    text-decoration: none;
    color: var(--col-text);
  }
  
  li.active
  {
    background: var(--col-selected);  
    box-shadow: 1.5px 3.0px 3.0px hsl(0deg 0% 0% / 0.1);
  }

  .logo
  {
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    font-size: 1.6em;
    
    svg
    {
      width: 1.5em;
      height: 1.5em;
      background: var(--col-selected-alt);
      border-radius: 10px;
      padding: 6px;
    }
  }

  ul 
  {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  li
  {
    border-radius: 10px;
    font-weight: 600;
    display: flex;
    justify-content: left;
    align-items: center;
  }

  li:hover
  {
    background: var(--col-background-highlight);
    box-shadow: 1.5px 3.0px 3.0px hsl(0deg 0% 0% / 0.1);
    cursor: pointer;
  }


  li a
  {
    padding: 0.85em 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
}


footer
{
  background: var(--col-background-card);
  border-left: 1px solid var(--col-border-dark);
  min-height: 50px;
  grid-column: 2/3;
  grid-row: 3;
}


.contentArea
{
  width: min(800px, 100%);
  overflow-y: auto;
}


main
{
  background: var(--col-background);
  grid-row: 1/3;
  padding: 2em;
  padding-top: 2.5em;
  display: flex;
  justify-content: center;
  border-left: 1px solid var(--col-border-dark);
}


@media screen and (max-width: 940px)
{
  nav span 
  {
    display: none;
  }

  nav
  {
    padding-left: 5px;
    padding-right: 5px;

    .logo
    {
      align-items: center;
      justify-content: center;
    }

    .themeToggle
    {
      padding: 0px;
      justify-content: center;
      align-items: center;
      background: transparent;

      .btn
      {
        padding: 12px;
      }
    }
  }
}


@media screen and (max-width: 460px)
{
  nav
  {
    height: auto;
    grid-row: 1;
    grid-column: 1/3;
    padding-bottom: 5px;
    padding-left: 5px;
    
    li {float: left;}

    ul
    {
      flex-direction: row;
    }

    .logo
    {
      padding-left: 0.5em;
      justify-content: start;
      span {display: block;}
      svg {width: 1.8em; height: 1.8em;}
    }

    .active
    {
      display: flex;
      span {display: block; }
    }
  }

  main
  {
    grid-row: 2;
    grid-column: 1 / 3;
    padding: 1.1em;
    padding-top: 1.5em;
    border-top: 1px solid var(--col-border-dark);
  }

  footer
  {
    grid-row: 3;
    grid-column: 1 / 3;
  }

  .card
  {
    background: var(--col-background-card);
    border-radius: 10px;
    box-shadow: 1.5px 3.0px 3.0px hsl(0deg 0% 0% / 0.15);
    padding: 1em 1.5em;
  }

  .themeToggle
  {
    position: absolute;
    top: 31px;
    right: 31px;
  }
}

code
{
  font-family: "Fira Code";
}
